<a href="https://colab.research.google.com/github/mohamed-ali/mlar/blob/master/الدرس_2_إكتشف_بانداس.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

In [2]:
import pandas as pd

In [3]:
pd.DataFrame([1, 2])

   0
0  1
1  2

In [4]:
pd.DataFrame([[1, 2], [3, 4]])

   0  1
0  1  2
1  3  4

In [5]:
pd.DataFrame([[1, 2], [3, 4]], columns=["الخانة1", "الخانة2"])

   الخانة1  الخانة2
0        1        2
1        3        4